### **Second Demo and first for ZugDatenbank!**

Zweite Aufgaben 1 - 13

In [1]:
SELECT Name FROM Bahnhoefe WHERE LiegtInKanton = 'Basel Stadt';

Name
Basel Bad
Basel SBB

In [13]:
SELECT ZugNr, Start, Ziel, Abfahrt
FROM Zuege, Verbindet
WHERE Abfahrt BETWEEN '14:00:00' AND '15:00:00' 
AND Start = '%Basel%';

In [15]:
SELECT Gleise FROM Bahnhoefe WHERE Name = 'Thalwil';

Gleise
5

In [16]:
SELECT SUM(Gleise) AS Summe FROM Bahnhoefe;

(No column name)
129

In [18]:
SELECT SUM(Gleise) FROM Bahnhoefe WHERE Name = 'Zug' OR Name = 'Luzern';

(No column name)
23

In [19]:
SELECT AVG(Gleise) FROM Bahnhoefe;

(No column name)
14

In [20]:
SELECT MAX(Abfahrt) FROM Verbindet;

(No column name)
15:36:00

In [23]:
SELECT Name, Kanton FROM Staedte WHERE Kanton LIKE '%n';

Name,Kanton
Horw,Luzern
Luzern,Luzern
Olten,Solothurn

In [24]:
SELECT Name, Kanton FROM Staedte WHERE Kanton = Name;

Name,Kanton
Luzern,Luzern
Zug,Zug
Zürich,Zürich

In [29]:
SELECT MAX(Gleise) FROM Bahnhoefe;

(No column name)
52

In [34]:
SELECT COUNT(Von) AS VonOlten FROM Verbindet WHERE Von = 'Olten';

VonOlten
2

In [36]:
SELECT COUNT(Zug), Von FROM Verbindet GROUP BY Von;

(No column name),Von
2,Baden
1,Basel Bad
3,Basel SBB
1,Horw
3,Luzern
2,Olten
2,Thalwil
2,Zug
2,Zürich HB

In [37]:
SELECT COUNT(Gleise), LiegtInKanton FROM Bahnhoefe GROUP BY LiegtInKanton;

(No column name),LiegtInKanton
1,Aargau
2,Basel Stadt
2,Luzern
1,Solothurn
1,Zug
2,Zürich