# Übungsaufgaben DML

Der folgende Block enthält Übungsaufgaben zu den Kapiteln INSERT, UPDATE, DELETE und CASCADE.

## INSERT

Führe diese Aufgaben aus, nachdem du den INSERT-Block bearbeitet hast.

**1.1** Erstelle eine neue Kundin in der Tabelle _verkauf.kunden_ mit folgenden Attributen:

- Vorname: Barbara
- Nachname: Traufer

In [2]:
INSERT INTO verkauf.kunden (vorname, nachname) VALUES ('Barbara', 'Traufer');

SELECT * FROM verkauf.kunden

kundenid,vorname,nachname
1,Hans,Meyer
2,Pete,Muller
3,unbekannt,Matter
4,Bruno,Moser
5,Heinz,Manser
6,Barbara,Traufer

**1.2** Füge drei neue Produkte in der dafür vorgesehenen Tabelle hinzu. Den Produktnamen, den Preis sowie das Energielabel kannst du jeweils selber bestimmen.

In [3]:
INSERT INTO verkauf.produkte (produktname, preis, energielabel) VALUES ('Grafikkarte', '199.95', 'D');
INSERT INTO verkauf.produkte (produktname, preis, energielabel) VALUES ('CPU', '149.95', 'B');
INSERT INTO verkauf.produkte (produktname, preis, energielabel) VALUES ('Monitor', '99.95', 'C');

SELECT * FROM verkauf.produkte

produktid,produktname,preis,energielabel
1,Zitronenpresse,4.90,A
2,Gartenlounge,224.00,NULL
4,Weinkühlschrank,139.00,C
5,Grafikkarte,199.95,D
6,CPU,149.95,B
7,Monitor,99.95,C

**1.3** Erstelle zwei neue Einträge in der Tabelle _verkauf.bestellungen_, welche zur oben neu erstellten Kundin gehören. Das Bestelldatum kannst du bei beiden Bestellungen frei wählen.

In [5]:
-- Erste Bestellung
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) 
VALUES ('20221212', 6);

-- Zweite Bestellung
INSERT INTO verkauf.bestellungen (bestelldatum, kundenid) 
VALUES ('20221213', 6);

SELECT * FROM verkauf.bestellungen

bestellid,bestelldatum,kundenid
1,2023-09-10 11:20:07.000,1
2,2023-11-05 17:43:13.000,2
3,2023-12-27 09:32:55.000,4
4,2022-12-12 00:00:00.000,6
5,2022-12-13 00:00:00.000,6

## UPDATE

Führe diese Aufgaben aus, nachdem du den UPDATE-Block bearbeitet hast.

**2.1** Die Kundin mit der Kundenid 3 wünscht, dass ihr Vorname in den Stammdaten von _unbekannt_ auf _Maria_ geändert wird. Bitte nimm diese Änderung vor.

In [6]:
-- Vorname und Nachname eines Kunden ändern
UPDATE verkauf.kunden
SET vorname = 'Maria'
WHERE kundenid = 3;

SELECT * FROM verkauf.kunden

kundenid,vorname,nachname
1,Hans,Meyer
2,Pete,Muller
3,Maria,Matter
4,Bruno,Moser
5,Heinz,Manser
6,Barbara,Traufer

**2.2** Du erhältst den Auftrag, den Namen des Produktes mit der Id 2 auf _Zitruspresse_ zu ändern und im selben Zug auch gleich den Preis um CHF 10 zu erhöhen.

In [7]:
UPDATE verkauf.produkte
SET produktname = 'Zitruspresse', preis = '234.00'
WHERE produktid = 2;

SELECT * FROM verkauf.produkte

produktid,produktname,preis,energielabel
1,Zitronenpresse,4.90,A
2,Zitruspresse,234.00,NULL
4,Weinkühlschrank,139.00,C
5,Grafikkarte,199.95,D
6,CPU,149.95,B
7,Monitor,99.95,C

## DELETE

Führe diese Aufgaben aus, nachdem du den DELETE-Block bearbeitet hast.

**3.1** Du wirst von deinem Vorgesetzten aufgefordert, alle Bestellungen des Kunden _Bruno Moser_ zu löschen. Nimm bitte diese Mutation vor.
**Wichtig**: Sei vorsichtig, dass nicht zu viele Daten gelöscht werden.

In [8]:
DELETE FROM verkauf.bestellungen WHERE kundenid = 4;

SELECT * FROM verkauf.bestellungen

bestellid,bestelldatum,kundenid
1,2023-09-10 11:20:07.000,1
2,2023-11-05 17:43:13.000,2
4,2022-12-12 00:00:00.000,6
5,2022-12-13 00:00:00.000,6

**3.2** Angenommen, du wirst angewiesen die Kundin Barbara Traufer aus der Kunden-Tabelle zu löschen. Würde das Datenbanksystem diese Löschung zulassen? Was gibt es dabei zu beachten? Schreibe deine Überlegungen auf, ohne die Mutation vorzunehmen.

In [ ]:
/*
ein da es als standart definiert ist und nicht als ON DELETE oder ON UPDATE bzw. wird nichts gemacht,
da es eine verletzung de    ns PK ist und nicht definiert eurde wie reagiert werden soll.
*/